body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
  padding: 0;
}

.falles0,
.falles1,
.falles2,
.falles3,
.falles4 {
  display: none;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.cremar {
  animation: fadeOut 10s;
  animation-fill-mode: forwards;
  opacity: 1;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.nom {
  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 160px;
}
